<div id="content" class="site-content container">
  <main id="main" class="site-main" role="main">
  	<div class="blog-post">
    <h2 class="content-title">Welcome to ALXS Design</h2>
    <hr>
    <hr>
    <div class="whitespace"></div>
    <img class="" src="/assets/multiple-platform.png"></img>
    <hr>
    <hr>
      <div class="row">
        <div class="large-4 small-4 columns float-middle">
          <h1 class="entry-title">Design</h1>
        </div>
        <div class="large-4 small-4 columns float-middle">
          <h1 class="entry-title">Build</h1>
        </div>
        <div class="large-4 small-4 columns float-middle">
          <h1 class="entry-title">Deploy</h1>
        </div>
      </div>
      <hr>
      <hr>
      <br>
      <h2 class="content-title">We do it all...</h2>
    
    
    </div>
	</main>
</div>
